
.cart-drop{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    
    background: #2ed8b6;
    border-top-left-radius: 100%;
    -webkit-box-shadow: -1px -1px 15px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px -1px 15px 1px rgba(0,0,0,0.25);
    box-shadow: -1px -1px 15px 1px rgba(0,0,0,0.25);
    transition: all 0.5s ease-out;
}

.cart-drop:hover{
    width: 100px;
    height: 100px;
    transition: all 0.1s ease-out;
}

.cart-drop i{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background: rgba(0,0,0,0.1);
    border-radius: 25%;
    display: block;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.cart-drop label{
    position: absolute;
    bottom: 30px;
    right: 20px;
    
}

.big-cart-drop{
    width: 300px; 
    height: 300px;
    /* max-width : 500px;
    max-height: 500px; */
}
  
.button {
    float: left;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 0.6em;
    margin-bottom: 1.2em;
}
  
.alert-button {
    float: none;
}

.event-box{
    -webkit-box-shadow: -1px -1px 15px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: -1px -1px 15px 1px rgba(0,0,0,0.25);
    box-shadow: -1px -1px 15px 1px rgba(0,0,0,0.25);
    position: relative;
    width: calc(100% - 2em);
    margin-left: 1em;
    border-radius: 7px;
    border: 1px solid #2ed8b6;
    background: white;
    margin-bottom: 1.33em;
}

.event-title-box{
    width: 100%;
    padding: 0.8em 1.2em;
    background: #2ed8b6;
    color: azure;
    font-size: 1.2em;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}