<ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">


<% if (userData.userId == 0) { %>

<li>
    <a href="<%= url %>/user/login">
        <i class="feather icon-log-in"></i> Login
    </a>  
</li>         

<% } else { %>
<li>
    <a href= "<%= url %>/" >
        <i class="feather icon-user"></i> Profil
    </a>
</li>
<li>
    <a href="index.html#!">
        <i class="feather icon-clipboard"></i> Dashboard
    </a>
</li>
<li>
    <a href="index.html#!">
        <i class="feather icon-log-out"></i> Logout
    </a>
</li>
<% } %>

 
 </ul>